
.nothing {
    /*background: #42275a;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
